# **Data Collection**

## **Import library**

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

## **Initialize Dataset**

In [4]:
movies_path = r'D:\gundarTingkat_3\6\Penulisan Ilmiah\Laporan\movieRecommendation\model-training\movies.csv'
ratings_path = r'D:\gundarTingkat_3\6\Penulisan Ilmiah\Laporan\movieRecommendation\model-training\ratings.csv'

In [5]:
movies = pd.read_csv(movies_path)
ratings = pd.read_csv(ratings_path)

## **EDA**

In [6]:
movies.head()

,movieId,title,genres,tag,year
0,1,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy...","Disney,family,toys,classic,pixar,Pixar,animati...",1995
1,2,Jumanji (1995),"['Adventure', 'Children', 'Fantasy']","monkey,time travel,kid flick,CLV,scary,Robin W...",1995
2,3,Grumpier Old Men (1995),"['Comedy', 'Romance']","old,Howard Deutch,sequel,moldy,NO_FA_GANES,old...",1995
3,4,Waiting to Exhale (1995),"['Comedy', 'Drama', 'Romance']","characters,based on novel or book,chick flick,...",1995
4,5,Father of the Bride Part II (1995),['Comedy'],"Touching,Fantasy,family,steve martin,CLV,pregn...",1995

In [7]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [15]:
movies.isnull().sum()

movieId        0
title          0
genres         0
tag        17172
year           0
dtype: int64

In [13]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [10]:
movies.shape

(62423, 5)

In [11]:
ratings.shape

(25000095, 4)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41875 entries, 0 to 41874
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  41875 non-null  int64
 1   title    41875 non-null  object
 2   genres   41875 non-null  object
 3   tag      41875 non-null  object
 4   year     41875 non-null  int64
 5   rating   41875 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.9+ MB

In [29]:
#after convert movieId and year to int32
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41875 entries, 0 to 41874
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  41875 non-null  int32
 1   title    41875 non-null  object
 2   genres   41875 non-null  object
 3   tag      41875 non-null  object
 4   year     41875 non-null  int32
 5   rating   41875 non-null  object
dtypes: int32(2), object(4)
memory usage: 1.6+ MB

In [35]:
# after filtering the data by years between 1995 to 2019
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23624 entries, 0 to 41872
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  23624 non-null  int32
 1   title    23624 non-null  object
 2   genres   23624 non-null  object
 3   tag      23624 non-null  object
 4   year     23624 non-null  int32
 5   rating   23624 non-null  object
dtypes: int32(2), object(4)
memory usage: 1.1+ MB

## **Preparation Data**

In [16]:
# movies drop tag null
movies = movies.dropna(subset=['tag'])

In [17]:
# drop timestamp ratings
ratings = ratings.drop('timestamp', axis=1)

In [18]:
# join dataset using left join
df = pd.merge(movies[['movieId', 'title', 'genres', 'tag', 'year']], ratings[['movieId','rating']], on='movieId')

In [19]:
df

,movieId,title,genres,tag,year,rating
0,1,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy...","Disney,family,toys,classic,pixar,Pixar,animati...",1995,3.5
1,1,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy...","Disney,family,toys,classic,pixar,Pixar,animati...",1995,4.0
2,1,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy...","Disney,family,toys,classic,pixar,Pixar,animati...",1995,3.0
3,1,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy...","Disney,family,toys,classic,pixar,Pixar,animati...",1995,4.0
4,1,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy...","Disney,family,toys,classic,pixar,Pixar,animati...",1995,4.0
...,...,...,...,...,...,...
24916673,208813,Noelle (2019),['Children'],might like,2019,3.0
24916674,208933,The Devil's Partner (1961),['Horror'],"black and white,deal with the devil",1961,2.5
24916675,209035,time for sushi (2017),"['Animation', 'Comedy']","computer animation,Japan,mass behavior,mass sc...",2017,3.5
24916676,209037,Our Wonderful Nature - The Common Chameleon (2...,['(no genres listed)'],"computer animation,chameleon,humorous,nature,g...",2016,4.0
24916677,209063,The Prep School Negro (2012),['(no genres listed)'],"Philadelphia,quaker,private school,racism,educ...",2012,4.0

In [21]:
# Because it was felt that there was too much data, the average rating was made into one line
# Change ratings based on average
df = df.groupby(['movieId', 'title', 'genres','tag', 'year'], as_index=False)['rating'].mean()

In [22]:
df

,movieId,title,genres,tag,year,rating
0,1,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy...","Disney,family,toys,classic,pixar,Pixar,animati...",1995,3.893708
1,2,Jumanji (1995),"['Adventure', 'Children', 'Fantasy']","monkey,time travel,kid flick,CLV,scary,Robin W...",1995,3.251527
2,3,Grumpier Old Men (1995),"['Comedy', 'Romance']","old,Howard Deutch,sequel,moldy,NO_FA_GANES,old...",1995,3.142028
3,4,Waiting to Exhale (1995),"['Comedy', 'Drama', 'Romance']","characters,based on novel or book,chick flick,...",1995,2.853547
4,5,Father of the Bride Part II (1995),['Comedy'],"Touching,Fantasy,family,steve martin,CLV,pregn...",1995,3.058434
...,...,...,...,...,...,...
41870,208813,Noelle (2019),['Children'],might like,2019,3.000000
41871,208933,The Devil's Partner (1961),['Horror'],"black and white,deal with the devil",1961,2.500000
41872,209035,time for sushi (2017),"['Animation', 'Comedy']","computer animation,Japan,mass behavior,mass sc...",2017,3.500000
41873,209037,Our Wonderful Nature - The Common Chameleon (2...,['(no genres listed)'],"computer animation,chameleon,humorous,nature,g...",2016,4.000000
41874,209063,The Prep School Negro (2012),['(no genres listed)'],"Philadelphia,quaker,private school,racism,educ...",2012,4.000000

In [23]:
# modify 'rating' column to display only two decimal
df['rating'] = df['rating'].apply(lambda x: f"{x:.2f}")

In [24]:
df

,movieId,title,genres,tag,year,rating
0,1,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy...","Disney,family,toys,classic,pixar,Pixar,animati...",1995,3.89
1,2,Jumanji (1995),"['Adventure', 'Children', 'Fantasy']","monkey,time travel,kid flick,CLV,scary,Robin W...",1995,3.25
2,3,Grumpier Old Men (1995),"['Comedy', 'Romance']","old,Howard Deutch,sequel,moldy,NO_FA_GANES,old...",1995,3.14
3,4,Waiting to Exhale (1995),"['Comedy', 'Drama', 'Romance']","characters,based on novel or book,chick flick,...",1995,2.85
4,5,Father of the Bride Part II (1995),['Comedy'],"Touching,Fantasy,family,steve martin,CLV,pregn...",1995,3.06
...,...,...,...,...,...,...
41870,208813,Noelle (2019),['Children'],might like,2019,3.00
41871,208933,The Devil's Partner (1961),['Horror'],"black and white,deal with the devil",1961,2.50
41872,209035,time for sushi (2017),"['Animation', 'Comedy']","computer animation,Japan,mass behavior,mass sc...",2017,3.50
41873,209037,Our Wonderful Nature - The Common Chameleon (2...,['(no genres listed)'],"computer animation,chameleon,humorous,nature,g...",2016,4.00
41874,209063,The Prep School Negro (2012),['(no genres listed)'],"Philadelphia,quaker,private school,racism,educ...",2012,4.00

In [25]:
df_memory = df.memory_usage()
df_memory

Index         128
movieId    335000
title      335000
genres     335000
tag        335000
year       335000
rating     335000
dtype: int64

In [27]:
# for saving memory, convert movieId column from int64 to int32
df.movieId = df.movieId.astype('int32')

In [28]:
# for saving memory, convert year column from int64 to int32
df.year = df.year.astype('int32')

In [30]:
# Drop genres values (no genres listed) in genres column
df = df[~df['genres'].str.contains('(no genres listed)', na=False)]

In [31]:
df

,movieId,title,genres,tag,year,rating
0,1,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy...","Disney,family,toys,classic,pixar,Pixar,animati...",1995,3.89
1,2,Jumanji (1995),"['Adventure', 'Children', 'Fantasy']","monkey,time travel,kid flick,CLV,scary,Robin W...",1995,3.25
2,3,Grumpier Old Men (1995),"['Comedy', 'Romance']","old,Howard Deutch,sequel,moldy,NO_FA_GANES,old...",1995,3.14
3,4,Waiting to Exhale (1995),"['Comedy', 'Drama', 'Romance']","characters,based on novel or book,chick flick,...",1995,2.85
4,5,Father of the Bride Part II (1995),['Comedy'],"Touching,Fantasy,family,steve martin,CLV,pregn...",1995,3.06
...,...,...,...,...,...,...
41868,208769,Pressure Point (1997),"['Action', 'Thriller']",RiffTrax,1997,3.00
41869,208800,Lady and the Tramp (2019),"['Comedy', 'Romance']",might like,2019,3.62
41870,208813,Noelle (2019),['Children'],might like,2019,3.00
41871,208933,The Devil's Partner (1961),['Horror'],"black and white,deal with the devil",1961,2.50
41872,209035,time for sushi (2017),"['Animation', 'Comedy']","computer animation,Japan,mass behavior,mass sc...",2017,3.50

In [32]:
#Filter data by year
data_filter = df[(df['year'] >= 1995) & (df['year'] <= 2019)]

In [33]:
# Delete data that doesn't pass the filter
df.drop(df[~df['year'].isin(data_filter['year'])].index, inplace=True)

In [34]:
df

,movieId,title,genres,tag,year,rating
0,1,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy...","Disney,family,toys,classic,pixar,Pixar,animati...",1995,3.89
1,2,Jumanji (1995),"['Adventure', 'Children', 'Fantasy']","monkey,time travel,kid flick,CLV,scary,Robin W...",1995,3.25
2,3,Grumpier Old Men (1995),"['Comedy', 'Romance']","old,Howard Deutch,sequel,moldy,NO_FA_GANES,old...",1995,3.14
3,4,Waiting to Exhale (1995),"['Comedy', 'Drama', 'Romance']","characters,based on novel or book,chick flick,...",1995,2.85
4,5,Father of the Bride Part II (1995),['Comedy'],"Touching,Fantasy,family,steve martin,CLV,pregn...",1995,3.06
...,...,...,...,...,...,...
41867,208751,Strange Bedfellows (2004),['Comedy'],z-m,2004,1.50
41868,208769,Pressure Point (1997),"['Action', 'Thriller']",RiffTrax,1997,3.00
41869,208800,Lady and the Tramp (2019),"['Comedy', 'Romance']",might like,2019,3.62
41870,208813,Noelle (2019),['Children'],might like,2019,3.00
41872,209035,time for sushi (2017),"['Animation', 'Comedy']","computer animation,Japan,mass behavior,mass sc...",2017,3.50

In [37]:
import re
#Cleaning tag column
def clean_tag(tag):
  # Hapus simbol - ! dan simbol lain
  tag = re.sub(r"[^\w, ]", "", tag)
  
  # Kembalikan tag yang sudah dibersihkan
  return tag

df['tag'] = df['tag'].apply(clean_tag)

In [38]:
# convert genres to lowercase 
df['genres'] = df['genres'].str.lower()

In [39]:
# convert tag to lowercase
df['tag'] = df['tag'].str.lower()

In [40]:
df

,movieId,title,genres,tag,year,rating
0,1,Toy Story (1995),"['adventure', 'animation', 'children', 'comedy...","disney,family,toys,classic,pixar,pixar,animati...",1995,3.89
1,2,Jumanji (1995),"['adventure', 'children', 'fantasy']","monkey,time travel,kid flick,clv,scary,robin w...",1995,3.25
2,3,Grumpier Old Men (1995),"['comedy', 'romance']","old,howard deutch,sequel,moldy,no_fa_ganes,old...",1995,3.14
3,4,Waiting to Exhale (1995),"['comedy', 'drama', 'romance']","characters,based on novel or book,chick flick,...",1995,2.85
4,5,Father of the Bride Part II (1995),['comedy'],"touching,fantasy,family,steve martin,clv,pregn...",1995,3.06
...,...,...,...,...,...,...
41867,208751,Strange Bedfellows (2004),['comedy'],zm,2004,1.50
41868,208769,Pressure Point (1997),"['action', 'thriller']",rifftrax,1997,3.00
41869,208800,Lady and the Tramp (2019),"['comedy', 'romance']",might like,2019,3.62
41870,208813,Noelle (2019),['children'],might like,2019,3.00
41872,209035,time for sushi (2017),"['animation', 'comedy']","computer animation,japan,mass behavior,mass sc...",2017,3.50

In [41]:
df.to_csv("movies_data.csv", index=False)

#